DB_URL=jdbc:postgresql://ep-shiny-frog-aopupg47-pooler.c-2.ap-southeast-1.aws.neon.tech/Lowlands_coffee?sslmode=require&channel_binding=require
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_mPJx4QzsS0dH
JWT_SECRET=LowlandsCoffee_2026_SpringBoot_JWT_Secret_ChangeThis_To_A_Long_Random_String_9F3K8L2M7P
NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1